{% extends "base.html" %}

{% block title %}Permission Denied{% endblock %}

{% block content %}
<div class="container error-page">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4 text-danger">403 - Permission Denied</h1>
            <p class="lead">You do not have permission to access this resource.</p>
            <a href="{% url 'home' %}" class="btn btn-primary mt-3">Return to Home</a>
        </div>
    </div>
</div>
{% endblock %}
