{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <p>Welcome to our website. We are dedicated to providing the best service for biometric leads.</p>
    
    <h2>User Information</h2>
    <table>
        <tr>
            <th>Username</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>First Name</th>
            <td>{{ user.first_name }}</td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td>{{ user.last_name }}</td>
        </tr>
        <tr>
            <th>Date Joined</th>
            <td>{{ user.date_joined }}</td>
        </tr>
    </table>
</div>
{% endblock %}
